nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: auto;
  background-color: black;
}

.nav-item {
  margin: 20px 35px;
}

li {
  position: relative;
  display: inline-block;
  padding: 0px 5px;
  color: white;
  text-transform: uppercase;
}

li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  bottom: -3px;
  background-color: white;
  transition: width 0.2s ease-in-out;
}

li:hover::before {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}