<div class="container main">
    <div class="section-title text-center">
        <h1 class="d-inline-block ">PROJECTS</h1>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex align-items-center justify-content-center project-card">
          <div class="left-side align-self-start">
            <div>
              <img src="assets/img/html.svg" alt="HTML" class="project-img" />
            </div>
            <div class="link-div">
              <a href="#" class="btn btn-secondary button-link">
                <h3>CODE</h3>
                <img src="assets/img/arrow-up-right.svg" alt="Github Link" />
              </a>
            </div>
          </div>
          <div class="right-side">
            <h3 class="text-left">Flask Login</h3>
            <p class="text-left">{{loginDescription}}</p>
            <div class="d-flex align-items-center justify-content-start tech">
              <span class="badge">Python</span>
              <span class="badge">Flask</span>
              <span class="badge">Jinja</span>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Segunda tarjeta -->
      <div class="col-md-6">
        <div class="d-flex align-items-center justify-content-center project-card">
          <div class="left-side text-center">
            <div>
              <img src="assets/img/html.svg" alt="HTML" />
            </div>
            <div>
              <a href="#" class="btn btn-secondary button-link">
                <h3>CODE</h3>
                <img src="assets/img/arrow-up-right.svg" alt="Github Link" />
              </a>
            </div>
          </div>
          <div class="right-side">
            <h3 class="text-left">Título</h3>
            <p class="text-left">Descripción</p>
            <div class="d-flex align-items-center justify-content-start tech">
              <span class="badge">Java</span>
              <span class="badge">Spring</span>
              <span class="badge">Golang</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  