<div
  class="container d-flex flex-column align-items-center justify-content-center main"
>
  <div>
    <h1>Technologies Stack</h1>
  </div>

  <div
    class="container d-flex flex-column align-items-center justify-content-evenly"
  >
    <div><h2>Frontend</h2></div>
    <div>
      <img src="assets/img/html.svg" alt="HTML" />
      <img src="assets/img/javascript.svg" alt="JavaScript" />
      <img src="assets/img/typescript.svg" alt="TypeScript" />
      <img src="assets/img/angular.svg" alt="Angular" />
      <img src="assets/img/bootstrap.svg" alt="Bootstrap" />
    </div>
  </div>

  <div
    class="container d-flex flex-column align-items-center justify-content-center"
  >
    <div><h2>Backend</h2></div>
    <div>
      <img src="assets/img/java.svg" alt="Java" />
      <img src="assets/img/spring.svg" alt="Spring" />
      <img src="assets/img/python.svg" alt="Python" />
      <img src="assets/img/git.svg" alt="GIT" />
      <img src="assets/img/postgresql.svg" alt="PostgreSQL" />
    </div>
  </div>

  <div
    class="container d-flex flex-column align-items-center justify-content-center"
  >
    <div><h2>Learning</h2></div>
    <div>
      <img src="assets/img/go.svg" alt="Golang" />
      <img src="assets/img/rails.svg" alt="Rails" />
      <img src="assets/img/flutter.svg" alt="Flutter" />
      <img src="assets/img/mongodb.svg" alt="MongoDB" />
    </div>
  </div>
</div>
