.section-title {
    margin-bottom: 50px;
}

h2 {
    color: white;
}

img {
    width: 55px;
    height: 55px;
    margin: 20px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
}

.main {
    margin-top: 200px;
    margin-bottom: 200px;
}

.tech {
    margin: 40px;
    padding: 50px;
    border: 1px solid antiquewhite;
    border-radius: 20px;
    transition: transform 0.3s ease;
    gap: 30px;
}

.tech:hover {
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
}

h1 {
    font-size: 3rem;
    position: relative;
    color: #EEEEEE; 
    letter-spacing: 1px;
    text-decoration: none;
    padding: 7px;
    margin: 0 10px;
}

h1::before{
    content: "";
    position: absolute;
    bottom: 0; left:0;
    width:0; height: 1px;
    transition: width 0.3s ease-in-out;
    background-color: #EEEEEE;
}

h1:hover::before{
    width: 100%;
}

h3 {
    color: white;
}

.frontend  {
    color: aqua;
}

.backend  {
    color: gold;
}

.other {
    color: chartreuse;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .tech {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        gap: 20px;
    }

    img {
        width: 45px;
        height: 45px;
        margin: 5px;
    }
  }
  
  /* Media query para tabletas */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    img {
        width: 45px;
        height: 45px;
        margin: 15px;
    }
    
  }
  