<div
  class="container d-flex flex-column align-items-center justify-content-center main"
>
  <div class="section-title">
    <h1>Technologies Stack</h1>
  </div>

  <div class="d-flex flex-md-column align-items-center justify-content-center tech">

    <div class="d-flex flex-md-row align-items-center justify-content-center">
      <img src="assets/img/html.svg" alt="HTML" />
      <img src="assets/img/javascript.svg" alt="JavaScript" />
      <img src="assets/img/typescript.svg" alt="TypeScript" />
      <img src="assets/img/angular.svg" alt="Angular" />
      <img src="assets/img/bootstrap.svg" alt="Bootstrap" />
      <img src="assets/img/git.svg" alt="GIT" />
    </div>

    <div class="d-flex flex-md-row align-items-center justify-content-center">
      <img src="assets/img/java.svg" alt="Java" />
      <img src="assets/img/spring.svg" alt="Spring" />
      <img src="assets/img/python.svg" alt="Python" />
      <img src="assets/img/postgresql.svg" alt="PostgreSQL" />
      <img src="assets/img/go.svg" alt="Golang" />
      <img src="assets/img/mongodb.svg" alt="MongoDB" />
    </div>
      
  </div>

</div>
