.title {
    gap: 10px;
}

img {
    width: 55px;
    height: 55px;
    margin: 20px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
}

.main {
    margin-top: 200px;
    margin-bottom: 200px;
}

.tech {
    margin: 40px 0px;
    padding: 50px;
    border-width: thin;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    gap: 30px;
    transition: 0.4s ease;
}

.tech:hover {
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
    background-color: #111111;
}

h1 {
    font-size: 3rem;
    position: relative;
    color: #EEEEEE; 
    letter-spacing: 1px;
    text-decoration: none;
    padding: 7px;
    margin: 0 10px;
}

h1::before {
    content: "";
    position: absolute;
    bottom: 0; left:0;
    width:0; height: 1px;
    transition: width 0.3s ease-in-out;
    background-color: #EEEEEE;
}

h1:hover::before {
    width: 100%;
}

h3 {
    color: white;
}

.frontend, .backend, .other  {
    color: #52D1C0;
}


/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .tech {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }

    img {
        width: 45px;
        height: 45px;
        margin: 5px;
    }
}

/* Media query para tabletas */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    img {
        width: 45px;
        height: 45px;
        margin: 15px;
    }
}