body { 
    /* background-color: black; */
    background-color: #181818;
    background-image: linear-gradient(147deg, #111111 0%, #000000 50%);
    font-family: 'Satoshi', sans-serif;                   
}

html {
    cursor: url('assets/img/cursor-std.svg'), auto;
}

button,
a {
  cursor: url('assets/img/cursor-click.svg'), pointer !important;
}