body { 
    /* background-color: black; */
    background-image: radial-gradient( circle 815px at 23.4% -21.8%,  rgba(9,29,85,1) 0.2%, rgba(0,0,0,1) 100.2% );
    font-family: 'Satoshi', sans-serif;                   
}

html {
    cursor: url('assets/img/cursor-std.svg'), auto;
}

button,
a {
  cursor: url('assets/img/cursor-click.svg'), pointer !important;
}