<div class="container main">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="col text-center">
        <h1>RAÚL</h1>
      </div>
      <div class="col text-center">
        <h1>PÉREZ VALIENTE</h1>
      </div>

    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-2 text-center">
        <h2>I'm Raúl, a full-stack developer with a preference for backend development</h2>
      </div>
    </div>
</div>
