h1 {
    color: white;
    font-size: 7rem;
}

h2 {
    color: whitesmoke;
    font-size: 1.5em;
}

.main {
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #EEEEEE;
}

span {
    color: #52D1C0;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 1rem;
    }

}
